<!DOCTYPE html>
<html lang="en">
    <head>
        <title>temp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{theme}}

        <div id="app">
            
        </div>
        <script src="/react.dll.js"></script>
        <script src="/router.dll.js"></script>
        <!--<script src="/{{theme}}/vendor.js"></script>
        <script src="/{{theme}}/router.js"></script>-->
        <script src="/{{theme}}/app.js"></script>
    </body>
</html>